<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>League Accounts</title>
    </head>
    <body class="py-4">
        <div class="container">
            <nav class="mb-5 navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">League Accounts</a>
                <a href="/new" class="badge badge-success">+Add</a>
            </nav>
            <table class="table table-responsive">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Region</th>
                      <th scope="col">Tags</th>
                      <th scope="col">Username</th>
                      <th scope="col">IGN</th>
                      <th scope="col">Password</th>
                      <th scope="col">User</th>
                      <th scope="col">Elo</th>
                    </tr>
                  </thead>
                <tbody>
                {{ range .Accounts }}
                    {{ if and (eq .Account.PasswordChanged false) (eq .Banned false) }}
                    <tr>
                        <td><a href="/edit/{{ .Account.ID }}">✏ </a></td>
                        <td>{{ .Account.Region }}</td>
                        <td>{{ if (ne .Account.Tag "") }}<span class="badge badge-primary">{{ .Account.Tag }}</span>{{ end }}{{ if .Account.Leaverbuster }}<span class="badge badge-warning">{{ .Account.Leaverbuster }} min</span>{{ end }}{{ if .Account.Pre30 }}<span class="badge badge-info">Pre 30</span>{{ end }}{{ if .Account.Ban }}<span class="badge badge-danger">!</span>{{ end }}</td>
                        <td><a href="{{ .Link }}">{{ .Account.Ign }}</a></td>
                        <td>{{ .Account.Username }}</td>
                        <td>{{ .Account.Password }}</td>
                        <td>{{ .Account.User }}</td>
                        <td>{{ .Account.Elo }}</td>
                    </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
            <h2 class="mt-5">Currently banned</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Region</th>
                      <th scope="col">Tags</th>
                      <th scope="col">Username</th>
                      <th scope="col">IGN</th>
                      <th scope="col">Password</th>
                      <th scope="col">User</th>
                      <th scope="col">Ban</th>
                      <th scope="col">Elo</th>
                    </tr>
                  </thead>
                <tbody>
                {{ range .Accounts }}
                    {{ if and (ne .Banned false) (ne .Account.Perma false) }}
                    <tr>
                        <td><a href="/edit/{{ .Account.ID }}">✏ </a></td>
                        <td>{{ .Account.Region }}</td>
                        <td>{{ if (ne .Account.Tag "") }}<span class="badge badge-primary">{{ .Account.Tag }}</span>{{ end }}{{ if .Account.Leaverbuster }}<span class="badge badge-warning">{{ .Account.Leaverbuster }} min</span>{{ end }}{{ if .Account.Pre30 }}<span class="badge badge-info">Pre 30</span>{{ end }}</td>
                        <td><a href="{{ .Link }}">{{ .Account.Ign }}</a></td>
                        <td>{{ .Account.Username }}</td>
                        <td>{{ .Account.Password }}</td>
                        <td>{{ .Account.User }}</td>
                        <td>{{ .Account.Ban }}</td>
                        <td>{{ .Account.Elo }}</td>
                    </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
            <h2 class="mt-5">Gone</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Region</th>
                      <th scope="col">Tags</th>
                      <th scope="col">Username</th>
                      <th scope="col">IGN</th>
                      <th scope="col">Password</th>
                      <th scope="col">User</th>
                      <th scope="col">Ban</th>
                      <th scope="col">Password changed</th>
                      <th scope="col">Elo</th>
                    </tr>
                  </thead>
                <tbody>
                {{ range .Accounts }}
                    {{ if or (ne .Account.PasswordChanged false) (ne .Account.Perma false) }}
                    <tr>
                        <td><a href="/edit/{{ .Account.ID }}">✏ </a></td>
                        <td>{{ .Account.Region }}</td>
                        <td>{{ if (ne .Account.Tag "") }}<span class="badge badge-primary">{{ .Account.Tag }}</span>{{ end }}{{ if .Account.Leaverbuster }}<span class="badge badge-warning">{{ .Account.Leaverbuster }} min</span>{{ end }}{{ if .Account.Pre30 }}<span class="badge badge-info">Pre 30</span>{{ end }}</td>
                        <td><a href="{{ .Link }}">{{ .Account.Ign }}</a></td>
                        <td>{{ .Account.Username }}</td>
                        <td>{{ .Account.Password }}</td>
                        <td>{{ .Account.User }}</td>
                        <td>{{ .Account.Ban }}</td>
                        <td>{{ if .Account.PasswordChanged }}Yes{{ end }}</td>
                        <td>{{ .Account.Elo }}</td>
                    </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
            <p class="mt-5">Logged in as {{ .Username }}. <a href="/login">Relog</a></p>
        </div>
    </body>
</html>
