{{ $currentUser := .Username }}{{ $Users := .Users }}
<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ with .Account }}
    <title>Edit "{{ .Username }}"</title>
    </head>

    <body class="py-4">
    <div class="container">
        <nav class="mb-5 navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">League Accounts</a>
            </nav>

        <form method="POST">
  <div class="form-group">
    <label for="sel_region">Region</label>
    <select name="region" class="form-control" id="sel_region">
      <option {{ if (eq .Region "br") }}selected{{ end }}>br</option>
      <option {{ if (eq .Region "eune") }}selected{{ end }}>eune</option>
      <option {{ if (eq .Region "euw") }}selected{{ end }}>euw</option>
      <option {{ if (eq .Region "lan") }}selected{{ end }}>lan</option>
      <option {{ if (eq .Region "las") }}selected{{ end }}>las</option>
      <option {{ if (eq .Region "na") }}selected{{ end }}>na</option>
      <option {{ if (eq .Region "oce") }}selected{{ end }}>oce</option>
      <option {{ if (eq .Region "ru") }}selected{{ end }}>ru</option>
      <option {{ if (eq .Region "tr") }}selected{{ end }}>tr</option>
      <option {{ if (eq .Region "jp") }}selected{{ end }}>jp</option>
      <option {{ if (eq .Region "sea") }}selected{{ end }}>sea</option>
      <option {{ if (eq .Region "kr") }}selected{{ end }}>kr</option>
      <option {{ if (eq .Region "pbe") }}selected{{ end }}>pbe</option>
      <option {{ if (eq .Region "cn") }}selected{{ end }}>cn</option>
    </select>
  </div>
            <div class="form-group">
    <label for="tb_tag">Tag</label>
    <input name="tag" type="text" class="form-control" id="tb_tag" value="{{ .Tag }}">
  </div>
            <div class="form-group">
    <label for="tb_ign">IGN</label>
    <input name="ign" type="text" class="form-control" id="tb_ign" value="{{ .Ign }}">
  </div>
            <div class="form-group">
    <label for="tb_username">Username</label>
    <input name="username" type="text" class="form-control" id="tb_username" value="{{ .Username }}">
  </div>
            <div class="form-group">
    <label for="tb_password">Password</label>
    <input name="password" type="password" class="form-control" id="tb_password" value="{{ .Password }}">
  </div>
  <div class="form-group">
    <label for="sel_user">User</label>
    <select name="user" class="form-control" id="sel_region">
        {{ range $Users }}
        <option {{ if (eq $currentUser .)}}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
  </div>
  <div class="form-group">
    <label for="sel_leaverbuster">Leaverbuster</label>
    <select name="leaverbuster" class="form-control" id="sel_leaverbuster">
        <option {{ if (eq .Leaverbuster 0) }}selected{{ end }}>0</option>
        <option {{ if (eq .Leaverbuster 5) }}selected{{ end }}>5</option>
        <option {{ if (eq .Leaverbuster 20) }}selected{{ end }}>20</option>
    </select>
  </div>
            <div class="form-group">
    <label for="tb_ban">Ban (e.g.: 2019-05-10T15:48:00+02:00</label>
    <input name="ban" type="text" class="form-control" id="tb_ban" value="{{ .Ban }}">
  </div>
            <div class="custom-control custom-checkbox">
                <input name="password_changed" class="custom-control-input" type="checkbox" value="true" id="chk_password_changed" {{ if .Password_changed }}checked{{ end }}>
                <label class="custom-control-label" for="chk_password_changed">Password changed</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input name="pre_30" type="checkbox" class="custom-control-input" value="true" id="chk_pre_30" {{ if .Pre_30 }}checked{{ end }}>
                <label class="custom-control-label" for="chk_pre_30">Pre 30</label>
            </div>
      <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
        {{ end }}
            <p class="mt-5">Logged in as {{ .Username }}. <a href="/login">Relog</a></p>
    </div>
    </body>
</html>
